:root {
    --main-color: #2e318b;
    --main-color-rgb: 46, 49, 139;
    --secondary-color: white;

    --border-size: 2px;
    --dash-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Montserrat-Regular";
    color: var(--main-color);
    overflow-x: hidden;
}

.splide__pagination {
    display: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    max-width: 1560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;

    img {
        width: 176px;
    }

    .social-box {
        margin: 0 -35px 0 0;

        a {
            &.social-btn {
                background-color: var(--main-color);
            }
        }
    }
}

.menu-btn {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 11;
    overflow: hidden;
}

.menu-btn .bar {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.menu-btn .bar:nth-of-type(2) {
    top: calc(50% - 9px);
}

.menu-btn .bar:nth-of-type(3) {
    top: calc(50% + 9px);
}

.menu-btn.active .bar:nth-of-type(1) {
    display: none;
}

.menu-btn.active .bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    background: var(--secondary-color);
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 10;

    a {
        font-size: 25px;
        color: var(--main-color);
        font-style: italic;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: border-color .3s;

        &:hover,
        &:active {
            border-color: var(--main-color);
        }
    }
}

.nav.active {
    transform: translateX(0);
}

.nav .nav__list_item {
    list-style-type: none;
    margin: 10px 0;
}


.nav-list {
    display: flex;
    margin: 0 150px 0 auto;

    li {
        list-style-type: none;
        padding: 0 25px;
        border-right: 1px solid var(--main-color);

        &:last-of-type {
            border: none;
        }

        a {
            font-size: 25px;
            color: var(--main-color);
            font-style: italic;
            cursor: pointer;
            border-bottom: 1px solid transparent;
            transition: border-color .3s;

            &:hover,
            &:active {
                border-color: var(--main-color);
            }
        }
    }
}

.social-box {
    display: flex;
    align-items: center;

    a {
        &.social-btn {
            width: 24px;
            height: 24px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 5px;

            img {
                max-width: 63%;

                &.insta-logo {
                    max-width: 55%;
                }

                &.tiktok-logo {
                    max-width: 57%;
                }
            }
        }
    }
}

.clm {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.text {
    font-size: 36px;
    line-height: 40px;
    font-style: italic;
}

.content {
    width: 100%;
    max-width: 1560px;
    display: flex;
    margin: 0 auto;
}

button {
    border-radius: 50px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .3s;

    &:hover {
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
    }
}

section {
    width: 100%;

    &.section1 {
        height: 877px;
        position: relative;
        overflow-x: hidden;

        .bg {
            position: absolute;
            width: 95%;
            height: 100%;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            background-color: var(--main-color);
            opacity: 0.122;
            z-index: 0;

            &::after {
                content: '';
                position: absolute;
                right: 0%;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url(img/section1-bg2.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 100% 0%;
            }

        }

        .content {
            height: 100%;
            justify-content: space-between;
            align-items: flex-end;
            padding: 120px 0 0;
        }

        .clm,
        img {
            position: relative;
            z-index: 1;
        }

        img {
            max-height: 100%;
        }

        .clm {
            padding: 0 0 85px;
        }

        button {
            width: 683px;
            height: 101px;
            font-size: 52px;
            color: #ebebeb;
            font-weight: 500;
            font-style: italic;
            text-align: center;
            margin: 40px 0 0;
        }

        .text {
            max-width: 1056px;
        }

        h1 {
            font-size: 100px;
            line-height: 99px;
            font-family: "Montserrat-SemiBold", sans-serif;
            margin: 0 0 30px;
        }


    }

    &.section2 {
        .content {
            // max-width: 1440px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 75px 0 85px;

            .row {
                width: 100%;
                justify-content: space-around;

                &:last-of-type {
                    position: relative;
                    margin: 60px 0;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 131px;
                        height: 131px;
                        background-color: #2e318b;
                        z-index: 0;
                        left: 60px;
                        top: -20px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 131px;
                        height: 131px;
                        background-color: #2e318b;
                        border-radius: 50%;
                        z-index: 2;
                        right: 46px;
                        bottom: -65px;
                    }
                }
            }

            .box {
                width: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                .img-box {
                    width: auto;
                    height: 95px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    margin: 0 0 10px;
                }
            }

            .title {
                font-size: 25px;
                font-style: italic;
            }

            .note {
                font-size: 21px;
                line-height: 30px;
                font-style: italic;
                text-align: center;
            }

            .baner-box {
                width: 1359px;
                height: 341px;
                border-radius: 34px;
                background-color: var(--secondary-color);
                border: 1.5px solid var(--main-color);
                box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;
                position: relative;
                z-index: 1;

                .clm {
                    padding: 30px 0;
                    height: 100%;
                    justify-content: space-between;
                }

                .note {
                    font-size: 20px;
                    font-family: "Myriad Pro", sans-serif;
                    text-align: center;
                    margin-top: -28px;
                    line-height: 1;
                    font-style: normal;
                }
            }

            .flag-img {
                margin: 0 0 -100px -133px;
            }

            h1 {
                font-size: 40px;
                font-family: "Montserrat-Bold", sans-serif;
                font-style: italic;
                text-align: left;
            }

            .number {
                font-size: 95px;
                line-height: 94px;
                font-family: "Montserrat-SemiBold", sans-serif;
                margin: 0 0 0px -45px;
                display: flex;
                align-items: center;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: var(--main-color);
                    width: 107px;
                    height: 107px;
                    margin: 0 20px 0 0;
                }
            }
        }
    }

    &.section3 {
        .content {
            max-width: 1550px;
            padding: 115px 0 95px;
            border: solid;
            border-image: repeating-linear-gradient(to right, rgba(var(--main-color-rgb), .2) 0, rgba(var(--main-color-rgb), .2) var(--dash-size), transparent var(--dash-size), transparent calc(var(--dash-size) * 2), rgba(var(--main-color-rgb), .2) calc(var(--dash-size) * 2), rgba(var(--main-color-rgb), .2) calc(var(--dash-size) * 3), transparent calc(var(--dash-size) * 3), transparent calc(var(--dash-size) * 4));
            border-image-slice: 16;
            border-image-width: var(--border-size) 0;
            flex-direction: column;
            align-items: center;

        }

        h1 {
            font-size: 60px;
            line-height: 59px;
            font-family: "Montserrat-SemiBold", sans-serif;
        }

        h2 {
            font-size: 60px;
            line-height: 59px;
            font-family: "Montserrat-SemiBold", sans-serif;
            font-style: italic;
            margin: 10px 0 70px;
        }

        .text {
            text-align: center;
        }

        .note {
            font-size: 30px;
            line-height: 40px;
            font-style: italic;
            text-align: center;
        }

        .pricing-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 65px 0 55px;
        }

        .item {
            width: 351px;
            height: 427px;
            border-radius: 16px;
            background-color: var(--secondary-color);
            border: 0.95px solid var(--main-color);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 50px 0;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
            margin: 25px 30px;
            font-family: "Montserrat-light", sans-serif;

            .clm {
                width: 100%;
                background-color: var(--main-color);
                color: var(--secondary-color);
                padding: 25px 0;
            }
        }

        .name {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            font-family: "Montserrat-Bold", sans-serif;

            span {
                font-size: 21px;
                margin-top: 5px;
            }
        }

        .price-e {
            font-size: 52px;
            font-family: "Montserrat-Bold", sans-serif;
            text-align: center;
            width: 100%;
        }

        .price-d {
            text-align: center;
            width: 100%;
            font-size: 35px;
            margin: 5px 0 0;
        }

        .title {
            font-size: 21px;
            text-align: center;
        }
    }

    &.section4 {
        .content {
            flex-direction: column;
            align-items: center;
            padding: 100px 0 40px;
        }

        h1 {
            font-size: 60px;
            line-height: 59px;
            font-family: "Montserrat-SemiBold", sans-serif;
        }

        .text {
            text-align: center;
            margin: 45px 0 75px;
        }

        .row {
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .item {
            background-color: var(--secondary-color);
            width: 459px;
            height: 368px;
            border-radius: 33px;
            border: 0.95px solid var(--main-color);
            margin: 20px 25px;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 30px 0 25px;

            &:nth-child(3n-2) {
                margin-left: 0;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

        }

        .info-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 50px;


            .img-box {
                width: 119px;
                height: 119px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    background-color: #ebebeb;
                    border-radius: 50%;
                    display: block
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 19px;
                    height: 19px;
                    border-radius: 9px;
                    background-color: #00ff00;
                    bottom: 0;
                    right: 9%;
                }
            }
        }

        .name {
            font-size: 34px;
            font-family: "Montserrat-ExtraBold", sans-serif;
        }

        .title {
            font-size: 21px;
        }

        .note {
            font-size: 21px;
            font-family: "Montserrat-extraLight", sans-serif;
        }

        .quote {
            max-width: 342px;
            font-size: 24px;
            font-family: "Montserrat-ExtraBold", sans-serif;
            text-align: center;
        }

        button {
            font-size: 28px;
            font-family: "Montserrat-Medium", sans-serif;
            font-style: italic;
            text-align: center;
            width: 298px;
            height: 55px;
        }

    }

    &.section5 {
        .content {
            max-width: 1550px;
            flex-direction: column;
            align-items: center;
            border: solid;
            border-image: repeating-linear-gradient(to right, rgba(var(--main-color-rgb), .2) 0, rgba(var(--main-color-rgb), .2) var(--dash-size), transparent var(--dash-size), transparent calc(var(--dash-size) * 2), rgba(var(--main-color-rgb), .2) calc(var(--dash-size) * 2), rgba(var(--main-color-rgb), .2) calc(var(--dash-size) * 3), transparent calc(var(--dash-size) * 3), transparent calc(var(--dash-size) * 4));
            border-image-slice: 16;
            border-image-width: var(--border-size) 0;
            padding: 100px 0;
        }

        h1 {
            text-transform: uppercase;
            font-size: 60px;
            line-height: 59px;
            font-family: "Montserrat-SemiBold", sans-serif;
            font-style: italic;
        }

        .splide {
            width: 100%;
            max-width: 1340px;
            margin: 50px 0;
            padding: 0 35px;

            .splide__track {
                width: 90%;
                margin: 0 auto;
            }

            .splide__arrow {
                background-color: transparent;
                width: 53px;
                height: 53px;
                border-radius: 27px;
                background: rgb(146, 123, 180);
                background: linear-gradient(145deg, rgba(146, 123, 180, 1) 0%, rgba(173, 131, 182, 1) 100%);
                opacity: 1;

                &:hover {
                    box-shadow: none;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: url(img/next-white.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &.splide__arrow--prev {
                    &::after {
                        transform: rotate(180deg);
                    }
                }

                svg {
                    display: none;
                }
            }
        }

        .splide__track {
            .splide__slide {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                padding: 0 45px;
            }

            .text {
                font-size: 18px;
                line-height: 25px;
                color: #666666;
                font-style: italic;
            }

            img {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                background-color: var(--main-color);
                margin: 0 20px 0 0;
            }

            .info-box {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 15px 0 0;
            }

            .name {
                font-size: 33px;
                color: #2e318b;
                font-weight: 800;
                font-family: "Montserrat-ExtraBold", sans-serif;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                span {
                    font-size: 13px;
                    color: #808080;
                    font-style: italic;
                    font-family: "Montserrat-Regular", sans-serif;
                }
            }
        }
    }

    &.section6 {
        padding: 300px 0 90px;
        position: relative;

        .bg {
            position: absolute;
            width: 100%;
            height: calc(100% - 110px);
            left: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            background-color: var(--main-color);
            opacity: 0.122;
            z-index: 0;

            &::after {
                content: '';
                position: absolute;
                right: 0%;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url(img/section6-bg.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 50% 0%;
            }

        }

        .splide {
            max-width: 1270px;
            height: 340px;
            margin: 0 auto;
            padding: 0 105px;
            z-index: 2;

            .splide__track {
                height: 100%;
                width: 100%;
                margin: 0 auto;

                .splide__slide {
                    padding: 0 5px;
                }
            }

            .splide__arrow {
                background-color: transparent;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-image: url(img/arrow-blue.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 1;

                &:hover {
                    box-shadow: none;
                }

                &.splide__arrow--prev {
                    transform: rotate(180deg) translateY(50%);
                }

                svg {
                    display: none;
                }
            }

            img {
                max-height: 100%;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                object-fit: cover;
            }
        }
    }
}

footer {
    width: 100%;
    height: 160px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 19px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;

    .social-box {
        margin: 0 5px 0 0;

        a {
            &.social-btn {
                background-color: var(--secondary-color);
            }
        }
    }
}

@media all and (max-width:1700px) {
    header {
        .social-box {
            margin: 0;
        }
    }
}

@media all and (max-width:1650px) {
    header {
        max-width: 1400px;
    }

    .text {
        font-size: 30px;
        line-height: 35px;
    }

    section {
        &.section1 {
            height: 730px;

            .bg {
                width: 97%;
            }

            img {
                max-height: 109%;
            }

            .content {
                max-width: 1400px;
            }

            h1 {
                font-size: 90px;
                line-height: 90px;
            }

            .text {
                max-width: 950px;
            }

            button {
                width: 620px;
                height: 85px;
                font-size: 40px;
            }
        }
    }
}

@media all and (max-width:1600px) {
    .content {
        max-width: 1400px;
    }

    section {
        &.section2 {
            .content {
                .baner-box {
                    width: 1200px;
                    height: 275px;

                    .clm {
                        padding: 20px 0;
                    }

                    .note {
                        font-size: 18px;
                        margin-top: -10px;
                    }
                }


                .flag-img {
                    width: 45%;
                    margin: 0 0 -125px -134px;
                }

                h1 {
                    font-size: 34px;
                }

                .number {
                    font-size: 85px;
                    line-height: 88px;

                    span {
                        width: 95px;
                        height: 95px;
                    }
                }
            }
        }

        &.section4 {

            .item {

                width: 425px;
                height: 368px;
                margin: 20px 15px;
                padding: 30px 0 25px;
            }

            .info-box {
                padding: 0 33px;
            }
        }

        &.section6 {
            padding: 200px 0 90px;

            .bg {
                position: absolute;
                width: 100%;
                height: calc(100% - 68px);
                left: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                background-color: var(--main-color);
                opacity: 0.122;
                z-index: 0;
            }
        }
    }
}

@media all and (max-width:1440px) {
    header {
        max-width: 1200px;
        padding: 20px 0;

        img {
            width: 140px;
        }
    }

    .content {
        max-width: 1200px;
    }

    .text {
        font-size: 24px;
        line-height: 31px;
    }

    section {
        &.section1 {
            height: 600px;

            .content {
                max-width: 1200px;
            }

            .text {
                max-width: 800px;
            }

            img {
                max-height: 123%;
            }

            h1 {
                font-size: 71px;
                line-height: 76px;
            }

            button {
                width: 481px;
                height: 70px;
                font-size: 36px;
            }
        }

        &.section2 {
            .content {
                .title {
                    font-size: 20px;
                }

                .note {
                    font-size: 16px;
                    line-height: 22px;
                }

                .box {

                    .img-box {
                        height: 65px;
                    }

                    img {
                        max-height: 100%;
                    }
                }

                .baner-box {
                    width: 1000px;
                    // height: 275px;
                }

                .flag-img {
                    width: 44%;
                    margin: 0px 0 -91px -114px;
                }

                h1 {
                    font-size: 30px;
                }

                .number {
                    font-size: 72px;
                    line-height: 1;

                    span {
                        width: 75px;
                        height: 75px;

                        img {
                            width: 45px;
                        }
                    }
                }
            }
        }


        &.section3 {
            .content {
                max-width: 1200px;
                padding: 100px 0 85px;
                border-image-slice: 1;
            }

            h1,
            h2 {
                font-size: 50px;
            }

            .note {
                font-size: 22px;
                line-height: 35px;
            }

            h2 {
                margin: 10px 0 40px;
            }

            .pricing-box {
                margin: 50px 0;
            }

            .name {
                font-size: 30px;

                span {
                    font-size: 16px;
                }
            }

            .price-e {
                font-size: 42px;
            }

            .price-d {
                font-size: 32px;
            }

            .item {
                width: 325px;
                height: 370px;
                padding: 25px 0;
                margin: 15px 20px;
            }
        }

        &.section4 {
            .content {
                padding: 75px 0 40px;
            }

            h1 {
                font-size: 50px;
            }

            .text {
                margin: 35px 0 65px;
            }

            .name {
                font-size: 30px;
            }

            .title {
                font-size: 18px;
            }

            .note {
                font-size: 16px;
            }

            .quote {
                max-width: 80%;
                font-size: 20px;
            }

            button {
                font-size: 22px;
                width: 272px;
                height: 45px;
            }

            .item {
                width: 382px;
                height: 317px;
                margin: 15px 10px;
                padding: 20px 0;
            }
        }

        &.section5 {
            .content {
                max-width: 1400px;
                padding: 75px 0;
            }

            .splide {
                width: 100%;
                max-width: 1100px;
                margin: 35px 0;
                padding: 0 15px;
            }
        }

        &.section6 {
            padding: 135px 0 70px;

            .splide {
                max-width: 1150px;
                height: 303px;
                margin: 0 auto;
                padding: 0 105px;
                z-index: 2;

                .splide__arrow {
                    background-color: transparent;
                    width: 65px;
                    height: 65px;
                }
            }
        }

    }

    footer {
        height: 110px;
    }
}

@media all and (max-width:1200px) {
    header {
        max-width: 850px;
    }
    .nav-list {
        margin: 0;
    }

    .nav>.nav-list>li a {
        font-size: 20px;
        color: var(--main-color);
        font-style: italic;
        cursor: pointer;
    }

    .nav>.nav-list {
        margin: 0 0 0 50px;
    }

    .text {
        font-size: 20px;
        line-height: 25px;
    }

    .content {
        max-width: 850px;
    }

    section {
        &.section1 {
            height: 525px;

            h1 {
                font-size: 56px;
                line-height: 60px;
            }

            .text {
                max-width: 600px;
            }

            .content {
                max-width: 850px;
            }

            button {
                width: 407px;
                height: 55px;
                font-size: 30px;
                margin: 30px 0 0;
            }

            .clm {
                padding: 0 0 50px;
            }
        }

        &.section2 {
            .content {

                .title {
                    font-size: 18px;
                    text-align: center;
                }

                .note {
                    font-size: 14px;
                    line-height: 18px;
                }

                h1 {
                    font-size: 25px;
                }

                .number {
                    font-size: 60px;

                }

                .row {
                    &:last-of-type {
                        &::before {
                            width: 116px;
                            height: 116px;
                            left: -23px;
                        }

                        &::after {
                            width: 116px;
                            height: 116px;
                            right: -56px;
                            bottom: -73px;
                        }
                    }
                }

                .baner-box {
                    height: 235px;

                    .clm {
                        padding: 20px 0 30px;
                    }
                }
            }

        }

        &.section3 {
            .content {
                max-width: 850px;
                padding: 80px 0 65px;
            }

            h1,
            h2 {
                font-size: 38px;
                line-height: 29px;
            }
        }

        &.section4 {
            .content {
                max-width: 900px;
            }

            h1 {
                font-size: 38px;
                line-height: 29px;
            }

            .info-box {
                padding: 0px 20px;

                .img-box {
                    width: 60px;
                    height: 60px;
                }
            }

            .item {
                width: 285px;
                height: 312px;
                padding: 20px 0;
                margin: 8px;
            }

            button {
                font-size: 20px;
                width: 239px;
                height: 41px;
            }

            .name {
                font-size: 25px;
            }

            .title {
                font-size: 16px;
            }

            .quote {
                max-width: 85%;
                font-size: 18px;
            }

            .note {
                font-size: 14px;
            }
        }

        &.section5 {
            .content {
                max-width: 850px;
                padding: 55px 0;

                h1 {
                    font-size: 38px;
                    line-height: 29px;
                }

                .splide__track {
                    .text {
                        font-size: 16px;
                        line-height: 22px;
                    }

                    .name {
                        font-size: 25px;
                    }
                }
            }
        }

        &.section6 {
            .splide {
                max-width: 900px;
                height: 220px;
                margin: 0 auto;
                padding: 0 100px;
                z-index: 2;
            }
        }
    }
}

@media all and (max-width:900px) {

    .content,
    header {
        max-width: 600px;
    }

    .text {
        font-size: 16px;
        line-height: 20px;
    }

    footer {
        height: 80px;
    }

    section {
        &.section1 {
            height: 423px;

            .content {
                max-width: 600px;
            }

            h1 {
                font-size: 38px;
                line-height: 45px;
            }

            img {
                max-height: 133%;
            }

            button {
                width: 245px;
                height: 42px;
                font-size: 20px;
                margin: 30px 0 0;
            }
        }

        &.section2 {
            .content {
                padding: 60px 0;

                .row {
                    flex-wrap: wrap;

                    &:last-of-type {
                        margin: 20px 0;

                        &::after {
                            width: 60px;
                            height: 60px;
                            right: -28px;
                            bottom: -26px;
                        }

                        &::before {
                            width: 60px;
                            height: 60px;
                            left: -12px;
                            top: -10px;
                        }
                    }
                }

                .box {
                    width: 50%;
                    margin: 0 0 20px;

                    .img-box {
                        height: 48px;
                    }
                }

                h1 {
                    font-size: 18px;
                }

                .number {
                    font-size: 40px;

                    span {
                        width: 45px;
                        height: 45px;

                        img {
                            max-width: 50%;
                        }
                    }
                }

                .flag-img {
                    width: 52%;
                    margin: 0px 0 -91px -114px;
                }

                .baner-box {
                    height: 195px;

                    .note {
                        font-size: 11px;
                        margin-top: -10px;
                    }
                }

            }
        }

        &.section3 {
            .content {
                max-width: 600px;
                padding: 60px 0;
            }

            h1,
            h2 {
                font-size: 28px;
                line-height: 31px;
                text-align: center;

            }

            h1 {
                width: 110%;
                margin: 0 -5%;
            }

            h2 {
                margin: 10px 0 34px;
            }

            .title {
                font-size: 14px;
                text-align: center;
            }

            .price-e {
                font-size: 32px;
            }

            .price-d {
                font-size: 24px;
            }

            .name {
                font-size: 27px;

                span {
                    font-size: 14px;
                }
            }

            .item {
                width: 45%;
                height: 290px;
                padding: 25px 0;
                margin: 10px;

                .clm {
                    padding: 15px 0;
                }

                &:nth-child(2n-1) {
                    margin-left: 0;
                }

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }

            .note {
                font-size: 16px;
                line-height: 18px;
            }
        }

        &.section4 {
            .content {
                max-width: 600px;
                padding: 60px 0;
            }

            h1 {
                font-size: 28px;
                line-height: 31px;
                text-align: center;
            }

            .text {
                margin: 30px 0 55px;
            }

            .item {
                margin: 10px;


                &:nth-child(2n-1) {
                    margin-left: 0;
                }

                &:nth-child(2n) {
                    margin-right: 0;
                }

                &:nth-child(3n) {
                    margin-right: 10px;
                }

                &:nth-child(3n-2) {
                    margin-left: 10px;
                }
            }

        }

        &.section5 {
            .content {
                max-width: 600px;

                h1 {
                    font-size: 28px;
                    line-height: 31px;
                    text-align: center;
                }

                .splide {

                    margin: 35px 0 0;

                    .splide__arrow {
                        width: 35px;
                        height: 35px;
                    }
                }

                .splide__track {
                    .text {
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
            }


        }

        &.section6 {
            padding: 70px 0 45px;

            .bg {
                height: calc(100% - 38px);
            }

            .splide {
                max-width: 600px;

                .splide__arrow {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

@media all and (max-width:600px) {
    :root {

        --border-size: 2px;
        --dash-size: 12px;
    }

    .content,
    header {
        max-width: 310px;
    }

    header {
        img {
            width: 75px;
        }
    }

    .text {
        font-size: 14px;
        line-height: 17px;
    }

    section {
        &.section1 {
            height: 440px;

            .content {
                position: relative;
                max-width: 310px;
                padding: 0;
            }

            h1 {
                font-size: 32px;
                line-height: 34px;
                margin: 0 0 20px;
            }

            img {
                max-height: 54%;
                position: absolute;
                right: -60px;
            }

            button {
                width: 230px;
                height: 42px;
                font-size: 18px;
                margin: 23px 0 0;
            }

            .text {
                max-width: 70%;
            }
        }

        &.section2 {
            .content {
                h1 {
                    font-size: 14px;
                }

                .baner-box {
                    width: 100%;
                    position: relative;

                    .clm {
                        position: relative;
                        z-index: 1;
                        align-items: center;
                    }
                }

                .flag-img {
                    width: 50%;
                    margin: 0px 0 -13px -39px;
                    position: absolute;
                    z-index: 0;
                }

                .number {
                    font-size: 30px;
                    margin: 0;

                    span {
                        width: 30px;
                        height: 30px;
                    }
                }

                .note {
                    br {
                        display: none;
                    }
                }
            }
        }

        &.section3,
        &.section4 {
            .content {
                max-width: 310px;
                padding: 40px 0;
            }

            h1,
            h2 {
                font-size: 24px;
                line-height: 31px;
                text-align: center;
            }

            .text {
                br {
                    display: none;
                }
            }
        }

        &.section3 {

            .pricing-box {
                margin: 30px 0;
            }

            .name {
                font-size: 20px;
            }

            .title {
                font-size: 12px;

                br {
                    display: none;
                }
            }

            .item {
                width: 48%;
                height: 250px;
                margin: 5px;

                .clm {
                    padding: 11px 0;
                }
            }

            .price-e {
                font-size: 28px;
            }

            .price-d {
                font-size: 20px;
            }
        }

        &.section4 {
            .text {
                margin: 20px 0 45px;
            }

            .item {
                margin: 10px !important;
                height: 230px;
            }

            .name {
                font-size: 22px;
            }

            .title {
                font-size: 14px;
            }

            .note {
                font-size: 12px;
            }

            .quote {
                max-width: 85%;
                font-size: 16px;
            }

            button {
                font-size: 16px;
                width: 210px;
                height: 32px;
            }
        }

        &.section5 {
            .content {
                max-width: 310px;
                padding: 40px 0;

                .splide__track {
                    .splide__slide {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 0 17px;
                    }

                    .name {
                        font-size: 21px;
                        text-align: left;
                    }

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }

                h1 {
                    font-size: 24px;
                    line-height: 31px;
                    text-align: center;
                }
            }



            .splide__arrow--prev {
                left: 0em;
            }

            .splide__arrow--next {
                right: 0em;
            }



        }

        &.section6 {
            .splide {
                max-width: 310px;
                height: 210px;
                padding: 0 45px;


                .splide__arrow {
                    width: 35px;
                    height: 35px;
                }

            }

            .splide__arrow--prev {
                left: 0em;
            }

            .splide__arrow--next {
                right: 0em;
            }
        }
    }
}



@media all and (max-width:900px) {
    .menu-btn {
        display: block;
    }

    .nav-list {
        display: none;
    }
}